<div class="container">
  <h1>Panel</h1>
  <div>
    <%= current_user.registration_status.reg_status %>
  </div>
  <p></p>
  <strong><p class="mb-2"><%= @user.email %></p></strong>
  <strong><p class="mb-2"><%= @user.account.account_type %></p></strong>
  <% if @user.account_type === 2 %>
    <strong><p class="mb-2"><%= @user.current_active_jobs_count %></p></strong>
  <% end %>

  <strong>Profile</strong>
  <hr>
  <% if @user.freelancer %>
    <strong><p>Name</p></strong>
    <p><%= @user.freelancer.first_name.capitalize %> <%= @user.freelancer.last_name.capitalize  %></p>
    <hr>
    <strong><p>Skills</p></strong>
    <p><%= @user.freelancer.skills %></p>
    <hr>
    <strong><p>About Me</p></strong>
    <p><%= @user.freelancer.description %></p>
    <hr>
    <strong><p>Specialization</p></strong>
    <p><%= @user.freelancer.specialization %></p>
    <hr>
    <strong><p>Resume</p></strong>
    <p><%= @user.freelancer.resume %></p>
    <hr>
  <% end %>
  <% if @user.recruiter %>
    <strong><p>Name</p></strong>
    <p><%= @user.recruiter.first_name.capitalize %> <%= @user.recruiter.last_name.capitalize  %></p>
    <hr>
    <strong><p>Skills</p></strong>
    <p><%= @user.recruiter.company %></p>
    <hr>
    <strong><p>About Me</p></strong>
    <p><%= @user.recruiter.company_description %></p>
    <hr>
    <strong><p>Specialization</p></strong>
    <p><%= @user.recruiter.resume %></p>
    <hr>
    <%= link_to 'New Job', new_job_path, class: 'btn btn-success mb-5' %>
  <% end %>

</div>
