<div class="container">
  <h1>All Jobs</h1>
  <% @jobs.each do |job| %>
  <div class="card">
    <div class="card-header">
      <p class="mr-2"><strong><%= job.recruiter.company %></strong></p><span><strong class="mr-1">Status:</strong><%= job.job_status.current_job_status %></span>
    </div>
    <div class="card-body">
      <h5 class="card-title"><p><%= job.position %></p></h5>
      <p class="card-text"><%= job.job_description %></p>
      <%= link_to 'See More Details', job, class: "btn btn-primary" %><br>
      <small><%= "Posted #{time_ago_in_words(job.created_at)} ago" %></small>
    </div>
  </div>
  <% end %>
</div>
