<%= form_with(model: @job, local: true) do |f| %>
  <% if @job.errors.any? %>
  <div class="alert alert-danger">
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job profile from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :job_title %>
    <%= f.text_area :job_title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :job_description %>
    <%= f.text_field :job_description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :job_skills %>
    <%= f.text_area :job_skills, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rate %>
    <%= f.text_area :rate, class: 'form-control' %>
  </div>
  <%= f.submit 'New Job', class: 'btn btn-primary rounded' %>
<% end %>
