<div class="container">
  <div class="card">
    <h5 class="card-header">Job Requests for <%= @job.job_title.titleize %> for company <%= @job.recruiter.company.titleize %></h5>
    <% if @job.job_status_id == 1 %>
      <h5 class="card-header"><%= link_to 'Close Job To New Applicants', close_job_path(@job), method: :patch, class: 'btn btn-warning' %></h5>
    <% end %>
    <% if @job.job_status_id == 2 %>
      <h5 class="card-header"><%= link_to 'Open Job To New Applicants', open_job_path(@job), method: :patch, class: 'btn btn-success' %></h5>
    <% end %>
    <div class="card-body">
      <% @requests.each do |request| %>
        <p><strong class="mr-1"><%= request.freelancer.first_name %></strong><strong class="mr-1"><%= request.freelancer.last_name %></strong></p>
        <p><%= request.request_description %></p>
        <div class="mb-5">
          <%= link_to "Public Profile", request.freelancer.user.public_profile , class: 'btn btn-primary' %>
          <% if request.request_status_id == 1 %>
            <%= link_to 'Accept', edit_job_request_path(@job, request), data: { confirm: 'Are you sure you want to accept this request?' }, class: 'btn btn-success' %>
            <%= link_to 'Reject', reject_request_job_request_path(@job, request), data: { confirm: 'Are you sure you want to accept this request?' }, method: :patch, class: 'btn btn-danger' %> <br>
          <% end %>
          <% if request.request_status_id == 2 %>
            <%= link_to 'Reject', reject_request_job_request_path(@job, request), data: { confirm: 'Are you sure you want to accept this request?' }, method: :patch, class: 'btn btn-danger' %> <br>
          <% end %>
          <% if request.request_status_id == 3 %>
            <%= link_to 'Accept', edit_job_request_path(@job, request), data: { confirm: 'Are you sure you want to accept this request?' }, class: 'btn btn-success' %>
          <% end %>
        </div>
        <strong class="mr-1">Request Status:</strong><%= request.request_status.req_status %>
        <hr>
      <% end %>

    </div>
  </div>
</div>
